.Footer{
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    width: 100%;
    color: white;
    background-color: #005c6e ;
    text-align: center;
    margin: auto;    

}
.CopyrightLink{
    font-family: 'Montserrat', sans-serif;
    
}
.CopyrightLink:link {
  color: white;
}


.CopyrightLink:visited {
  color: white;
}


.CopyrightLink:hover {
  color: white;
}


.CopyrightLink:active {
  color: white;
}

